<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <springProperty scope="context" name="LOG_FILE" source="logging.dir" defaultValue="./logs/"/>

    <property name="MODULE_NAME" value="car-rental-service"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p})
              %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan}
              %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <property name="maxHistory" value="30"/>
    <property name="maxFileSize" value="100MB"/>

    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="serverAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}/${MODULE_NAME}-SERVER.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}/${MODULE_NAME}-SERVER-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>${maxFileSize}</maxFileSize>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %level [%thread,%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}] %20logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="monitorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}/${MODULE_NAME}-MONITOR.log</file>

        <filter  class="ch.qos.logback.core.filter.EvaluatorFilter">
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>MONITOR_MARKER</marker>
            </evaluator>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}/IIS-${MODULE_NAME}-MONITOR-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>${maxFileSize}</maxFileSize>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %level [%thread,%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}] %20logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}/${MODULE_NAME}-ERROR.log</file>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <OnMatch>ACCEPT</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
        <!-- 查看当前活动文件的大小，如果超过指定大小会告知RollingFileAppender 触发当前活动文件滚动   -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}/${MODULE_NAME}-ERROR-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>${maxFileSize}</maxFileSize>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%level|${MODULE_NAME}|%X{CODE}|%X{X-B3-TraceId:-}|%X{X-B3-SpanId:-}|%thread|%X{NAME}|%X{CAUSE}|%msg%n</pattern>
        </encoder>

    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="serverAppender"/>
        <appender-ref ref="errorAppender"/>
        <appender-ref ref="monitorAppender"/>
    </root>

</configuration>